---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import ProjectCard from '@/components/ProjectCard.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllProjects } from '@/lib/data-utils'

const projects = await getAllProjects()
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="CTF" />
  <Breadcrumbs items={[{ label: 'CTF', icon: 'lucide:info' }]} />

  <section>
    <div class="min-w-full">
      <div class="prose mb-8">
        <p class="mt-0">
          a <b>CTF</b> in cybersecurity stands for <b>"Capture The Flag."</b> It's a type of competition where participants solve security-related challenges to earn "flags," which are hidden pieces of text or codes. These challenges can involve areas like: <b> web security, cryptography, reverse engineering, forensics, binary exploitation,</b> and more.

          The goal is to find as many flags as possible to score points and demonstrate your hacking and problem-solving skills in a safe, legal environment.
        </p>
      </div>

      <h2 class="mb-4 text-2xl font-medium">CTFs I participated in</h2>
      <div class="flex flex-col gap-4">
        {projects.map((project) => <ProjectCard project={project} />)}
      </div>
    </div>
  </section>
</Layout>
