---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import Layout from '@/layouts/Layout.astro'
import WriteUpCard from '@/components/WriteUpCard.astro'
import { getAllWriteUp } from '@/lib/data-utils'

const write_up = await getAllWriteUp()
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="Write Up" />
  <Breadcrumbs items={[{ label: 'Write Up', icon: 'lucide:info' }]} />

  <section>
    <div class="min-w-full">
      <div class="prose mb-8">
        <p class="mt-0">
          Here you can find my write-ups from various events, competitions, and challenges I’ve taken part in. I share them to document my thought process, explain how I solved each task, and hopefully help others learn along the way.
        </p>
      </div>

      <h2 class="mb-4 text-2xl font-medium">My Write Up :</h2>
      <div class="flex flex-col gap-4">
        {write_up.map((writeUp: any) => <WriteUpCard write_up={writeUp} />)}
      </div>
    </div>
  </section>
</Layout>
